*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px
}

.post{
    display: flex;
    padding: 15px;
    border: 5px solid fuchsia;
    margin-top: 15px;
    justify-content: space-between;
    align-content: center;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;
}

.page{
    padding: 10px;
    border: 1px solid fuchsia;
    cursor: pointer;
}

.page__current{
    border: 2px solid fuchsia;
    background: plum;
    font-weight: bold;
}